<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="../assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../assets/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../assets/stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="../assets/vendor/modernizr/modernizr.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>

	</head>
	<body>
		<!-- start: page -->
		<section class="body-error error-outside">
			<div class="center-error">

				<div class="row">
					<div class="col-sm-8">
						<div class="main-error mb-xlg">
							<h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
							<p class="error-explanation text-center">Chúng tôi xin lỗi, nhưng trang bạn đang tìm kiếm không tồn tại.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<h4 class="text">Một số liên kết hữu ích</h4>
						<ul class="nav nav-list primary">
							<li><a href="/trangchu"><i class="fa fa-caret-right text-dark"></i> Trang chủ</a></li>
							<li><a href="#"><i class="fa fa-caret-right text-dark"></i> Báo cáo</a></li>
							<li><a href="#"><i class="fa fa-caret-right text-dark"></i> Chi tiết</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="../assets/vendor/jquery/jquery.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		<script src="../assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		<script src="../assets/vendor/bootstrap/js/bootstrap.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		<script src="../assets/vendor/nanoscroller/nanoscroller.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		<script src="../assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		<script src="../assets/vendor/magnific-popup/magnific-popup.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		<script src="../assets/vendor/jquery-placeholder/jquery.placeholder.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="../assets/javascripts/theme.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		
		<!-- Theme Custom -->
		<script src="../assets/javascripts/theme.custom.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
		
		<!-- Theme Initialization Files -->
		<script src="../assets/javascripts/theme.init.js" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="303feb7df56bb68e5dd0c4d5-text/javascript"></script>
<script type="303feb7df56bb68e5dd0c4d5-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="303feb7df56bb68e5dd0c4d5-|49" defer=""></script></body>
</html>