<section class="content-with-menu content-with-menu-has-toolbar media-gallery">
	<div class="content-with-menu-container">
		<div class="inner-body mg-main">
			<div class="inner-toolbar clearfix">
				<ul>
					<li class="right" data-sort-source data-sort-id="media-gallery">
						<!-- MENU -->
					</li>
				</ul>
			</div>
			<h1 class="text-center">DANH SÁCH KHÓA HỌC BẠN ĐÃ HOÀN THÀNH</h1>
			<hr>
			<div class="row mg-files" data-sort-destination data-sort-id="media-gallery">
				<% if (listclass==""){ %>
					<section class="body-error error-inside">
						<div class="center-error">
							<div class="row">
								<div class="col-md-12">
									<div class="main-error mb-xlg">
										<h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
										<p class="error-explanation text-center">Hiện tại bạn chưa học xong khóa học nào cả.</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				<% } %>
				<% listclass.forEach(function(row){  %>
				<div class="isotope-item mh<%= row.ID_Subject %> col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/images/projects/project-1.jpg">
								<%if (row.Image != "") { %>
								<img 	style="max-width: 287px; max-height: 287px" 
										width="100%" 
										height="100%" 
										src="img/<%= row.Image %>" 
										class="img-responsive" 
										alt="Project">
								<% }else{ %>
								<img src="assets/images/projects/project-1.jpg" class="img-responsive" alt="Project">
								<% } %>
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_1" value="1">
										<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href='diendan/<%= row.ID_Classmodule %>';"><b>DIỄN ĐÀN</b></button>
									</div>
									<div class="mg-group pull-right">
										<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href='index.html';"><i class="fa fa-exclamation"></i></button>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title text-semibold"><b><%= row.NameClass %></b><small></small></h5>
						<br>
						<h5><b>Môn học :</b> <%= row.NameSubject %><small></small></h5>
						<h5><b>Giảng viên :</b> <%= row.Name %><small></small></h5>
						<h5 style="text-align: right;"><b><%= row.CountStudent %></b> /40<small></small></h5>
						<hr>
						<div class="mg-description">
							<small class="pull-left text-muted">Start : <%= row.TimeStart %></small>
							<small class="pull-right text-muted">End : <%= row.TimeEnd %></small>
						</div>
					</div>
				</div>
				<% }); %>

			</div>
		</div>
	</div>
</section>

<script>
var map = {};
$('select option').each(function () {
    if (map[this.value]) {
        $(this).remove()
    }
    map[this.value] = true;
})
</script>
