<!-- start: page  -->
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">Quản lý điểm</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <% include ../partials/messages %>
                    <button id="addToTable" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
            <thead>
                <tr>
                    <th>MSV</th>
                    <th>Họ tên</th>
                    <th>Môn học</th>
                    <th>Chuyên cần</th>
                    <th>Giữa kỳ</th>
                    <th>Cuối kỳ</th>
                    <th>TK Hệ 10</th>
                    <th>TK Hệ 4</th>
                    <th>Chữ</th>
                    <th>Tình trạng</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% point.forEach(function(rows){ %>
                    <tr>
                        <td><%= rows.StudentCode %></td>
                        <td><%= rows.Hoten %></td>
                        <td><%= rows.NameSubject %></td>
                        <td><%= rows.chuyencan %></td>
                        <td><%= rows.giuaky %></td>
                        <td><%= rows.cuoiky %></td>
                        <td><%= rows.tongket10 %></td>
                        <td><%= rows.tongket4 %></td>
                        <td><%= rows.chu %></td>
                        <td><%= rows.name %></td>
                        <td class="actions">
                            <a href="#" data-toggle="modal" data-target=".model-edit<%= rows.ID_Point %>"><i class="fa fa-pencil"></i></a>
                            <a href="#"><i class="fa fa-trash-o" data-toggle="modal" data-target="#Modal-Delete<%= rows.ID_Point %>"></i></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->



<!-- start: dialog add -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- start: header -->
      <header class="panel-heading">
          <h2 class="panel-title">Thêm điểm</h2>
          <p class="panel-subtitle">
              Điền đầy đủ và chính xác của điểm vào form bên dưới.
          </p>
      </header>
      <!-- start: header -->

      <!-- start: body --> 
      <div class="modal-body">
        <form class="form-horizontal form-bordered" action="/point/add" method="POST" >

          <!-- Sinh viên -->
          <div class="form-group">
              <label class="col-md-3 control-label" for="Sex">Sinh viên </label>
              <div class="col-md-7">
              <select name="ID_Student" class="form-control">
                <% student.forEach(function(rows){ %>
                  <option value="<%= rows.ID_Student %>"><%= rows.NameStudent %></option>
                <% }); %>
              </select>
              </div>
          </div>
      
          <!-- môn học -->
          <div class="form-group">
              <label class="col-md-3 control-label" for="Sex">Môn học </label>
              <div class="col-md-7">
              <select name="ID_Subject" class="form-control">
                <% subject.forEach(function(rows){ %>
                  <option value="<%= rows.ID_Subject %>"><%= rows.NameSubject %></option>
                <% }); %>
              </select>
              </div>
          </div>

          <!-- Chuyên cần -->
          <div class="form-group">
              <label class="col-md-3 control-label" for="chuyencan">Điểm chuyên cần </label>
              <div class="col-md-7"> 
                <input type="number" 
                       class="form-control" 
                       name="chuyencan" 
                       required="required">
              </div>
          </div>

          <!-- Giữa kỳ -->
          <div class="form-group">
              <label class="col-md-3 control-label" for="giuaky">Điểm giữa kỳ </label>
              <div class="col-md-7"> 
                <input type="number" 
                       class="form-control" 
                       name="giuaky" 
                       required="required">
              </div>
          </div>

          <!-- start: cuối kỳ -->
          <div class="form-group">
              <label class="col-md-3 control-label" for="cuoiky">Điểm cuối kỳ </label>
              <div class="col-md-7"> 
                <input type="number" 
                       class="form-control" 
                       name="cuoiky" 
                       required="required">
              </div>
          </div> 
          <!-- end: cuối kỳ -->

        </div>
        <!-- end: body --> 

        <!-- start: footer -->
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-info" >Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </footer>
        <!-- end: footer -->
      </form>
    </div>
  </div>
</div>
<!-- end: dialog add -->

<!-- start: dialog edit -->
<% point.forEach(function(rows){ %>
<div class="modal fade model-edit<%= rows.ID_Point %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <!-- start: header -->
    <header class="panel-heading">
        <h2 class="panel-title">Sửa điểm</h2>
    </header>
    <!-- end: header -->

    <!-- start: body -->
    <div class="modal-body">
    <form class="form-horizontal form-bordered" action="/point/edit/<%= rows.ID_Point %>" method="POST" role="form">
      <!-- Sinh viên -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="Sex">Sinh viên </label>
          <div class="col-md-7">
          <select name="ID_Student" class="form-control">
              <option value="<%= rows.ID_Student %>"><%= rows.NameStudent %></option>
            <% student.forEach(function(rows){ %>
              <option value="<%= rows.ID_Student %>"><%= rows.NameStudent %></option>
            <% }); %>
          </select>
          </div>
      </div>
  
      <!-- môn học -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="Sex">Môn học </label>
          <div class="col-md-7">
          <select name="ID_Subject" class="form-control">
              <option value="<%= rows.ID_Subject %>"><%= rows.NameSubject %></option>
            <% subject.forEach(function(rows){ %>
              <option value="<%= rows.ID_Subject %>"><%= rows.NameSubject %></option>
            <% }); %>
          </select>
          </div>
      </div>

      <!-- Chuyên cần -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="chuyencan">Điểm chuyên cần </label>
          <div class="col-md-7"> 
            <input type="number" 
                   class="form-control" 
                   name="chuyencan" 
                   required="required"
                   value="<%= rows.chuyencan %>">
          </div>
      </div>

      <!-- Giữa kỳ -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="giuaky">Điểm giữa kỳ </label>
          <div class="col-md-7"> 
            <input type="number" 
                   class="form-control" 
                   name="giuaky" 
                   required="required"
                   value="<%= rows.giuaky %>">
          </div>
      </div>

      <!-- Cuối kỳ -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="cuoiky">Điểm cuối kỳ </label>
          <div class="col-md-7"> 
            <input type="number" 
                   class="form-control" 
                   name="cuoiky" 
                   required="required"
                   value="<%= rows.cuoiky %>">
          </div>
      </div>


      <!-- Điểm tổng kết 10 -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="tongket10">Điểm tk hệ 10 </label>
          <div class="col-md-7"> 
            <input type="number" 
                   class="form-control" 
                   required="required"
                   value="<%= rows.tongket10 %>"
                   disabled="disabled">
          </div>
      </div>

      <!-- Điểm tổng kết 4 -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="tongket4">Điểm tk hệ 4 </label>
          <div class="col-md-7"> 
            <input type="number" 
                   class="form-control" 
                   required="required"
                   value="<%= rows.tongket4 %>"
                   disabled="disabled">
          </div>
      </div>

      <!-- Điểm chữ -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="chu">Điểm chữ </label>
          <div class="col-md-7"> 
            <input type="text" 
                   class="form-control" 
                   required="required"
                   value="<%= rows.chu %>"
                   disabled="disabled">
          </div>
      </div>

      <!-- start: trạng thái -->
      <div class="form-group">
          <label class="col-md-3 control-label" for="status">Tình trạng </label>
          <div class="col-md-7"> 
            <input type="number" 
                   class="form-control" 
                   required="required"
                   value="<%= rows.status %>"
                   disabled="disabled">
          </div>
      </div>
      <!-- end: trạng thái -->
    </div>
    <!-- end: Body -->

    <!-- start: footer -->
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </footer>
    <!-- end: footer -->

    </form>
    </div>
  </div>
</div>
<% }) %>
<!-- end: dialog edit -->


<!-- start: dialog delete -->
<% point.forEach(function(rows){ %>
<div class="modal fade" id="Modal-Delete<%= rows.ID_Point %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
    <!-- start: header -->
    <header class="panel-heading">
        <h2 class="panel-title">Xóa điểm</h2>
    </header>
    <!-- end: header -->

    <!-- start: body -->
    <div class="panel-body" style="color: red">
        <div class="modal-wrapper">
            <div class="modal-icon">
                <i style="color: red" class="fa fa-times-circle"></i>
            </div>
            <div class="modal-text">
                <h4><b>Chú ý !</b></h4>
                <p>Nếu bạn xóa điểm. mọi thông tin liên quan sẽ bị xóa và không thể phục hồi.</p>
            </div>
        </div>
    </div>
    <!-- end: body -->

    <form action="/point/delete/<%= rows.ID_Point %>/<%= rows.username %>" method="POST"> 
        <!-- start: footer -->
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </footer>
        <!-- end: footer -->
    </form>

    </div>
  </div>
</div>
<% }) %>
<!-- end: dialog delete