<!doctype html>
<html class="fixed sidebar-left-collapsed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Menu Collapsed Layout | Okler Themes | Porto-Admin</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

		<!-- Hachitu Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme-hachitu.css">

		<!-- Head Libs -->
		<script src="assets/vendor/modernizr/modernizr.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>

	</head>
	<body>
		<section class="body">

			<% include ../layout-fontend/header %>

			<div class="inner-wrapper">
				
				<% include ../layout-fontend/menu-left %>

				<section role="main" class="content-body">

                    <%- body %>

                </section>
                
			</div>

			<!-- Vendor -->
			<script src="assets/vendor/jquery/jquery.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			<script src="assets/vendor/bootstrap/js/bootstrap.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			<script src="assets/vendor/nanoscroller/nanoscroller.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			<script src="assets/vendor/magnific-popup/magnific-popup.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			
			<!-- Specific Page Vendor -->
			
			<!-- Theme Base, Components and Settings -->
			<script src="assets/javascripts/theme.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			
			<!-- Theme Custom -->
			<script src="assets/javascripts/theme.custom.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
			
			<!-- Theme Initialization Files -->
			<script src="assets/javascripts/theme.init.js" type="87f50a5c0479cf999e3c5100-text/javascript"></script>

		</section>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="87f50a5c0479cf999e3c5100-text/javascript"></script>
<script type="87f50a5c0479cf999e3c5100-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="87f50a5c0479cf999e3c5100-|49" defer=""></script></body>
</html>